{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">Dashboard</h1>

<div class="row mb-4">

    <div class="col-md-6">
        <div class="card bg-success text-white">
            <div class="card-body">
                <h3>{{ completed_tasks }}</h3>
                <p>Completed Tasks</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card bg-warning text-dark">
            <div class="card-body">
                <h3>{{ pending_tasks }}</h3>
                <p>Pending Tasks</p>
            </div>
        </div>
    </div>

</div>

{% if user.role == 'ADMIN' %}

<div class="mb-3">

    <a href="/projects/create/" class="btn btn-primary">
        Create Project
    </a>

    <a href="/tasks/create/" class="btn btn-success">
        Create Task
    </a>

</div>

{% endif %}

<h3>Your Tasks</h3>

<table class="table table-bordered table-striped">

   <thead>
    <tr>
        <th>Title</th>
        <th>Project</th>
        <th>Status</th>
        <th>Due Date</th>
    </tr>
</thead>

    <tbody>

        {% for task in tasks %}

        <tr
{% if task.status != 'DONE' and task.due_date < today %}
class="table-danger"
{% endif %}
>
            <td>{{ task.title }}</td>
            <td>{{ task.project.name }}</td>
            <td>{{ task.get_status_display }}</td>
            <td>{{ task.due_date }}</td>
        </tr>

        {% empty %}

        <tr>
            <td colspan="4">No tasks assigned.</td>
        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}